@media (max-width: 576px) {
  .main-banner {
    height: 40vh !important;
  }
  .navbar {
    background: linear-gradient(
      135deg,
      #754799 0%,
      rgba(255, 51, 134, 1) 100%
    ) !important;

    height: 75px;
  }
  .fifth-area {
    margin-top: 350px;
  }
}

/*  */
@media (min-width: 576px) {
  .fifth-area {
    margin-top: 500px;
  }
  nav {
    position: absolute !important;
    top: 5%;
    width: 100%;
    z-index: 1000 !important;
  }
}
