@media (max-width: 576px) {
  .main-banner {
    height: 40vh !important;
  }
  .navbar {
    background: linear-gradient(
      135deg,
      #754799 0%,
      rgba(255, 51, 134, 1) 100%
    ) !important;

    height: 75px;
  }
  .fifth-area {
    margin-top: 350px;
  }
}

/*  */
@media (min-width: 576px) {
  .fifth-area {
    margin-top: 500px;
  }
  nav {
    position: absolute !important;
    top: 5%;
    width: 100%;
    z-index: 1000 !important;
  }
  .icons-left {
    top: 3px !important;
    left: -4.25% !important;
  }

  .icons-right {
    top: 12px !important;
    right: -4.5% !important;
  }

  /* individual icon styling */
  .icon-1 {
    top: -10px !important;
  }

  .icon-2 {
    top: 11px !important;
  }
  .icon-5 {
    top: 15px !important;
  }
  .fourth-area div {
    width: 75% !important;
  }
  /* card */
  .card {
    height: 210px;
  }
}
